extends ../layout

block content
  h1 Let's play a game that we all know, but bigger.
  h4 I'll try to sink your ship and you can try to sink mine.
  <br>
  h4 Here are the hits:
  h6 A-2,3,4,6; B-2,3,4,5,6
  h6 C-2,3,4,5,6; D-4; E-4,5,6
  h6 F-4,5,6; G-4,6; H-4,5,6
  h6 I-4,5,6,8; J-4,6,8; K-4,6,7,8
  h6 L-4; M-3,4,5,6,7,8; N-4
