extends ../layout

block content
  h4 You're almost there. It's time to get your butt off that seat.
  h4 Look around the room. If what's under the staircase is the origin, go look under (7,4)
  h4 Be honorable, and put it back for the others if you found it! As always, the first one wins :)
  