extends ../layout

block content
  h1 You will need to use magick to bring this back from the dead. 
  h4 It's buried at skeleton.bostonhacks.io. Elite hackers only, though.
  h4 You probably still have questions - so does everyone else! just look at the FAQ.