extends ../layout

block content
  h1 This one is all about networking.
  h4 Ask a BU student where a lot of finals are taken. His building's across from SED, and you'll need his code.
  h4 To put this one in your pocket, you'll need the socket. It's in the cauldron at bostonhacks.io
  h4 The Eye and the Oh are already there - just listen closely to the tombstones.
