extends ../layout

block content
  h1 This one is all about networking.
  h4 Ask a BU student where a lot of finals are taken. His building's across from SED, and you'll need his code.
  h4 The message is at cauldron.bostonhacks.io. 1s are longs, 0s are shorts... - wait...it's encrypted?
  h4 The first number is the number of bits - fool around with the second a <i>bit</i>.
