extends layout

block content
  h1 Welcome to the command center, traveler.
  h4 There are 7 puzzles to solve. Enter the codes below.
  h4 You must do the puzzles in sets of 3 (i.e. #4, 5, 6 will become live only after you finish 1-3).
  h4 #7 is the most difficult and will become live after all the other challenges are finished.
  h4 Try your hardest, think outside the box, and most of all - be honorable.

  include forms/1-3.pug

  if challenge1 && challenge2 && challenge3
    include forms/4-6.pug
  
  if challenge1 && challenge2 && challenge3 && challenge4 && challenge5 && challenge6
    include forms/7.pug
