extends layout

block content
  h1 Welcome to the command center, traveler.
  h4 There are 6 puzzles to solve. Enter the codes below.
  h4 #4, 5 will become live only after you finish 1-3.
  h4 #6 is the most difficult and will become live after all the other challenges are finished.
  h4 Try your hardest, think outside the box, and most of all - be honorable.

  a(href="https://bostonhacks-f17.slack.com")
    h4 Check out the #hacky-halloween channel to discuss :)

  include forms/1-3.pug

  if challenge1 && challenge2 && challenge3
    include forms/4-5.pug
  
  if challenge1 && challenge2 && challenge3 && challenge4 && challenge5
    include forms/6.pug

  if challenge1 && challenge2 && challenge3 && challenge4 && challenge5 && challenge6
    include forms/finish.pug