extends layout

block content
  h1 Move along. There's nothing to see here.
  div(id='hacky-halloween' style='display:none;')
    h4 Did you really think that I was just going to hide something in the html again?
