extends ../layout

block content
  h1 Something went wrong during signup/login. Wait, but actually.
  h4 You probably entered an unacceptable password or an aleady used username. Go back and try again.
