div
  form(action='/redgreenbluesilverorange' method='post')
    h4 Challenge 1:
    a(href='/redgreenbluesilverorange')
      h4 Getting around
    if challenge1
      h4 COMPLETE
    else
      input(type="text" name="c1")
      <br>
      <br>
      input(type="submit")
div
  form(action='/inthedms' method='post')
    h4 Challenge 2:
    a(href='/inthedms')
      h4 Different color, my passport
    if challenge2
      h4 COMPLETE
    else
      input(type="text" name="c2")
      <br>
      <br>
      input(type="submit")
div
  form(action='/salem' method='post')
    h4 Challenge 3:
    a(href='/salem')
      h4 <i>Trial</i> and error
    if challenge3
      h4 COMPLETE
    else
      input(type="text" name="c3")
      <br>
      <br>
      input(type="submit")