div
  form(action='/redgreenbluesilverorange' method='post')
    h4 Challenge 1:
    a(href='/redgreenbluesilverorange')
      h4 Getting around
    input(type="text" name="c1")
    <br>
    <br>
    input(type="submit")
div
  form(action='/inthedms' method='post')
    h4 Challenge 2:
    a(href='/inthedms')
      h4 Different color, my passport
    input(type="text" name="c1")
    <br>
    <br>
    input(type="submit")
div
  form(action='/salem' method='post')
    h4 Challenge 3:
    a(href='/salem')
      h4 <i>Trial</i> and error
    input(type="text" name="c1")
    <br>
    <br>
    input(type="submit")