div
  form(action='/whoyougonnacall' method='post')
    h4 Challenge 4:
    a(href='/whoyougonnacall')
      h4 They're trying to talk to you.
    if challenge4
      h4 COMPLETE
    else
      input(type="text" name="c4")
      <br>
      <br>
      input(type="submit")
div
  form(action='/dentistappointment' method='post')
    h4 Challenge 5:
    a(href='/dentistappointment')
      h4 A quick detour to the seaside
    if challenge5
      h4 COMPLETE
    else
      input(type="text" name="c5")
      <br>
      <br>
      input(type="submit")
div
  form(action='/passthepolyjuice' method='post')
    h4 Challenge 6:
    a(href='/passthepolyjuice')
      h4 Back to the dungeon, we've got someone to see
    if challenge6
      h4 COMPLETE
    else
      input(type="text" name="c6")
      <br>
      <br>
      input(type="submit")