div
  form(action='/lostchild' method='post')
    h4 Challenge 6:
    a(href='/lostchild')
      h4 A Family Affair
    if challenge6
      h4 You. Made. It.
    else
      input(type="text" name="c6")
      <br>
      <br>
      input(type="submit")